body{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('../sidebar.png') repeat-y;
    background-position: -200px top;
}

body.login {
    background: #006eab;
}

.splash-logo{
    display: block;
    margin-bottom: 50px;
}

ul.left-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
ul.left-menu li{
    display: list-item;
    margin: 0;
    padding: 0;
}
ul.left-menu a{
    color: #555;
    text-decoration: none;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}
ul.left-menu a.active{
    box-shadow: 0px 0px 3px #002090 inset;
    background: #007ebb;
    color: #fff;
}

.splash-login{
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    position: absolute;
    top: 80px;
    left: 50%;
    width: 390px;
    margin-left: -195px;
    padding: 20px 30px;
}

.navbar{
    background: #006eab;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.26);
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand{
    padding: 0px 15px;
    height: 35px;
    position: relative;
    top: 7px;
    left: 5px;
}
.navbar .container{
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover{
    color: #fff;
    background: #007ebb;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background: #004e9b;
}

.sidebar{
    margin-left: -220px;
    position: absolute;
    left: 220px;
    width: 220px;
}

.main-content{
    padding-left: 235px;
    padding-right: 15px;
}

.main-content .app-block{
    float: left;
    margin-right: 10px;
}

.main-content .app-block .icon-wrapper{
    float: left;
    padding-top: 10px;
}

.main-content .app-block .name-wrapper{
    float: left;
    padding-left: 10px;
}

.main-content .app-block .fa{
    font-size: 32px;
}

.margina{
    margin-bottom: 10px;
}

.tile{
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    min-height: 160px;
}

.title{
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.description {
    height: 60px;
    overflow: auto;
}

.chart{
    display: inline-block;
    margin-left: 20px;
    width: 25%;
}

.appblock{
    margin-top: 30px;
}

.container{
    float:left;
    width:100%;
    margin-bottom: 20px;
}

.header{
    margin-top: 0px;
}

.modal-body{
    display: flex !important;
}

.left{
    display: inline-block;
    width: 50%;
    padding-right: 20px;
    align-items: stretch;
}

.right{
    display: inline-block;
    width: 50%;
    align-items: stretch;
}

.right h3{
    margin-top: 0px;
}

.divider-vertical{
    height: 50px;
}

.panels-title{
    padding: 5px !important;
    font-weight: bold;
}

.modal-body input{
    margin-bottom: 5px;
}

.fa-angle-down{
    padding-right: 10px;
}

ul.left-menu div{
    padding: 0px !important;
    margin: 0px !important;
}

.panel{
    cursor: pointer;
}

.danger a{
    color: #d9534f !important;
}
