@import url('react-select-plus.css');
@import url('_datepicker.css');

html, body, .main-content {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0px;
}

#app-content {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.main-content {
    box-sizing: border-box;
    background-color: #eee;
    display: flex;
    position: relative;
    min-height: calc(100vh - 107px);
}

body {
    font-family: Ubuntu, sans-serif;
}

body.login {
    background: #006eab;
}

.splash-logo {
    display: block;
    margin-bottom: 50px;
}

ul.left-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

ul.left-menu li {
    display: list-item;
    margin: 0;
    padding: 0;
}

ul.left-menu a {
    color: #555;
    text-decoration: none;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

ul.left-menu a.active {
    box-shadow: 0px 0px 3px #8C8984 inset;
    background: #e0e0e0;
    color: #006EAB;
}

/*ul.left-menu a.active{
    box-shadow: 0px 0px 3px #002090 inset;
    background: #007ebb;
    color: #fff;
}*/

#splash-login {
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    position: absolute;
    top: 80px;
    left: 50%;
    width: 390px;
    margin-left: -195px;
    padding: 20px 30px;
}

#splash-login button {
    margin-top: 20px;
}

.navbar {
    background: #006eab;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.26);
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    position: static !important;
}

.top-logo {
    padding-right: 10px;
    height: 35px;
}

.glyphicon-menu-hamburger {
    color: white;
    font-size: 1.5em;
    padding: 0px 11px;
    cursor: pointer;
    top: 0px !important;
    vertical-align: middle;
}

.navbar .container {
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 50px;
}

.container .navbar-collapse {
    margin-left: auto;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background: #007ebb;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background: #004e9b;
}

.navbar .active {
    background: #007ebb !important;
}

.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 1241px){
.navbar-header {
    width: 15.4vw;
}
}

.page-header h1 {
    font-size: 26px !important;
}

.sidebar {
    display: flex;
    background-color: #f5f5f5;
    border-right: 1px solid #dddddd;
    width: 15.4vw;
    min-width: 120px;
}

.page-content {
    position: relative;
    display: block;
    margin: 0px 20px;
    flex: 1;
}

.page-content>div {
    padding: 10px 0px 0px 0px;
    margin: 0;
    height: 100%;
    width: 100%;
    border-top: 1px solid transparent;
}

.page-header:first-child {
    margin-top: 10px;
}

.page-header:first-child>h1 {
    margin-top: 10px;
}

.page-header:first-child>h1 small{
    margin-left: 10px;
}

.app-block {
    float: left;
    margin-right: 10px;
}

.app-block .icon-wrapper {
    float: left;
    padding-top: 10px;
}

.app-block .name-wrapper {
    float: left;
    padding-left: 10px;
}

.app-block .fa {
    font-size: 32px;
}

.margina {
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.description {
    height: 60px;
    overflow: auto;
    margin: 10px 0;
    font-size: 12px;
}

.chart {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
}

.chart1 {
    display: inline-block;
    margin-left: 20px;
    width: 30%;
}

.appblock {
    margin-top: 30px;
    clear: 'both';
}

.page-content .container {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
}

.app-column {
    padding-left: 0px;
}

.header {
    margin-top: 0px;
}

.modal-body {
    display: flex !important;
}

.left {
    display: inline-block;
    width: 50%;
    padding-right: 20px;
    align-items: stretch;
}

.right {
    display: inline-block;
    width: 50%;
    align-items: stretch;
}

.right h3 {
    margin-top: 0px;
}

.divider-vertical {
    height: 50px;
}

.panels-title {
    padding: 5px !important;
    font-weight: bold;
}

.modal-body input,
.modal-body select {
    margin-bottom: 5px;
}

.fa-angle-down {
    padding-right: 10px;
}

ul.left-menu div {
    padding: 0px !important;
    margin: 0px !important;
}

.panel {
    cursor: pointer;
}

.danger a {
    color: #d9534f !important;
}

.graph-block {
    width: 55%;
    position: relative;
    padding-right: 10px;
    padding-top: 10px;
    height: 300px;
    float: left;
}

.tbl-block {
    display: table;
}

.tbl-row {
    display: table-row;
}

.tbl-cell {
    display: table-cell;
}

.stats-block {
    width: 45%;
    float: left;
    margin-top: 12px;
		display: flex;
		flex-direction: column;
		height: 280px;
}

.stats-block > div {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.tile {
	flex: 1;
	padding: 10px 5px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	/* border-left-width: 3px;
	border-left-style: solid */
}

.tile:last-child {
	margin-right: 0!important;
}

.tile-icon {
	font-size: 18px;
	margin-bottom: 5px;
}

.log-chart {
    height: 100px;
}

.messages {
    position: fixed;
    z-index: 9999;
    top: 58px;
    right: 20px;
    width: 300px;
    overflow: hidden;
    max-height: 100px;
}

.logs {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 1.4em;
    height: 2.8em;
    overflow: hidden;
}

.logs:last-of-type {
    margin-bottom: 0px !important;
}

.spinner {
    position: absolute;
    z-index: 1000;
    top: 40vh;
    left: 45%;
}

@keyframes spinner {
	to {transform: rotate(360deg);}
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 4px solid #ccc;
	border-top-color: #006eab;
	animation: spinner .6s linear infinite;
}

.text-warning {
    color: #e7ce41 !important;
}

.panel_chart {
    display: inline-block;
    margin-right: 40px;
    width: 70%;
}

#chartBtns {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.chartBtn {
    margin: 5px;
    display: block;
    width: 100px;
}

.iframe {
    width: 100%;
    height: 70vh;
}

table tr.row-state-OK {
    border-left: 5px solid #8fd861;
}

table tr.row-state-Warning {
    border-left: 5px solid #e7ce41;
}

table tr.row-state-Critical {
    border-left: 5px solid #de4040;
}

table tr.row-state-Pending {
    border-left: 5px solid #355fb4;
}

table tr.row-state-Down {
    border-left: 5px solid #d3d3d3;
}

table tr.row-state-Unknown {
    border-left: 5px solid #c592cf;
}

.reactable-pagination a {
    margin-right: 5px;
}

.chart-status {
    height: 30px;
    overflow: hidden;
    font-size: 11px;
}

.flex-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.threshold-tbl {
    border-spacing: 0 20px;
    border-collapse: separate;
}

.threshold-tbl th {
    width: 120px;
    text-align: center;
}

.threshold-tbl input {
    width: 100px;
    margin: 0 20px;
    text-align: center;
}

#action-status {
    color: red;
    margin-top: 20px;
}

.reactable-filter-input {
    float: right !important;
    width: 240px;
    height: 32px !important;
}

.custpm-filter-input {
    width: 210px !important;
}

.billing-info>div {
    display: inline-block;
    float: left;
}

.billing-info>div:first-child {
    margin-right: 5%;
    margin-left: 20%;
}

.billing-info>div:last-child {
    margin-left: 5%;
}

.provider-billing {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.link-tools .tool-remove {
    display: none
}

.link-tools .tool-options {
    display: none
}

.marker-arrowheads {
    display: none;
}

.tbl-btn {
    float: right;
    margin-right: 10px;
}

.provider-billing-block span {
    display: inline-block;
    /*padding-left: 5px;
    padding-right: 5px;*/
    float: left;
    width: 1%;
}

#billing-panel-content {
    display: inline-block;
    float: left;
    width: 97%;
}

.col-type-folder {
    color: #006EAB;
    cursor: pointer;
}

.col-type-file {
    color: black;
}

.link {
    color: #006EAB;
    cursor: pointer;
}

h3 {
    font-size: 18px !important;
}

h4 {
    font-size: 24px !important;
}

.tbl-ctrl {
    position: absolute;
    left: 5px;
    top: 100px;
    z-index: 1000;
    overflow: hidden;
}

.tbl-ctrl-dropdown {
    top: 165px !important;
}

.date-range {
    display: inline;
    margin-right: 20px;
}

.date-range>div {
    display: inline-block;
    margin-right: 20px;
    margin-left: 8px;
}

.date-range>input {
    width: 170px;
}

.datepicker {
    width: 120px !important;
}

/*.date-range > :first-child {
    margin-right: 20px;
}*/

#log-page>div {
    margin-bottom: 20px;
}

#log-page>div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
}

#filter-log>.btn-group {
    width: 70%;
}

#filter-log>input {
    width: 30%;
    float: right;
    height: 32px;
}

.selected-block {
    float: left;
    padding-top: 10px !important;
    margin-left: 30px;
    border: 1px solid #ddd;
    width: 24% !important;
    min-height: 220px;
}

.selected-block label {
    margin-bottom: 13px;
}

.tbl-select {
    float: left;
    width: 70%;
}

.tbl-select>.reactable-data>tr {
    cursor: pointer;
}

#launch-app {
    min-width: 80%;
}

#launch-app .tab-content {
    margin-top: 20px;
}

.radioGroup {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

.radioGroup input:nth-child(2) {
    margin-left: 10px;
}

table tr[class^=row-app] {
    border-left: 5px solid #d3d3d3;
}

table tr.row-app-ACTIVE {
    border-left: 5px solid #8fd861;
}

table tr.row-app-PAUSED {
    border-left: 5px solid #e7ce41;
}

table tr.row-app-SHUTOFF {
    border-left: 5px solid #de4040;
}

table tr.row-provider-Online {
    border-left: 5px solid #8fd861;
}

table tr.row-provider-Offline {
    border-left: 5px solid #de4040;
}

.reactable-header-sortable {
    background-image: url("../sort_both.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.reactable-header-sort-asc {
    background-image: url("../sort_asc.png");
}

.reactable-header-sort-desc {
    background-image: url("../sort_desc.png");
}

.reactable-pagination td:last-of-type {
    text-align: right;
}

.reactable-pagination a {
    padding: 4px 8px;
    color: #333;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    background-color: #fff
}

.reactable-pagination a:focus {
    text-decoration: none;
    border: 1px solid;
    border-color: #ccc;
    /*
    border-color: #2e6da4;
    background-color: #337ab7 */
}

.reactable-pagination a:hover {
    border: 1px solid;
    border-color: #adadad;
    text-decoration: none;
    background-color: #e6e6e6
}

.reactable-pagination a:active {
    border: 1px solid;
    color: #fff;
    border-color: #ccc;
    background-color: #337ab7
}

.reactable-current-page {
    border: 1px solid;
    color: #fff !important;
    border-color: #2e6da4 !important;
    background-color: #337ab7 !important
}

.reactable-pagination .disabled,
.reactable-pagination .disabled:hover {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.table>thead>tr>td,
.table>tbody>tr>td {
    vertical-align: middle !important;
}

.reactable-filterer> :first-child {
    padding-left: 0px !important;
}

.container-block {
    display: flex;
}

.block {
    width: 50%;
}

.block:first-child {
    margin-right: 30px;
}

#revoked-tbl>thead>.reactable-filterer {
    height: 47px;
}

#revoked-tbl>.reactable-data>tr {
    height: 48px;
}

/*.DateInput__display-text--has-input{
    height: 24px;
}*/

#filter-log .btn {
    z-index: initial;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
    background-color: white;
    margin-bottom: 20px;
}

.card-body {
    padding: 2px 16px 12px;
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 12px;
}

.card-apps button {
    width: 72px;
}

.custom-panel>.panel-heading {
    background-color: white !important;
    font-weight: 600;
}

.ellipsized-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 13.3px;
    max-height: 40px;
}

.row-log-info {
    border-left: 5px solid #d3d3d3;
}

.row-log-notice {
    border-left: 5px solid #d3d3d3;
}

.row-log-debug {
    border-left: 5px solid #d3d3d3;
}

.row-log-warning {
    border-left: 5px solid #e7ce41
}

.row-log-err {
    border-left: 5px solid #de4040;
}

.row-log-crit {
    border-left: 5px solid #de4040;
}

.row-log-alert {
    border-left: 5px solid #de4040;
}

.row-log-emerg {
    border-left: 5px solid #de4040;
}

.ellipsized-text2 {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px !important;
    max-height: 100%;
}

.btn>span.glyphicon {
    padding-right: 5px;
}

/* OVERRIDES FOR BOOTSTRAP */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #006eab;
}

.navbar-inverse .navbar-toggle {
    border-color: #007ebb;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #007ebb;
}

div ul.dropdown-menu {
    right: 0;
    left: auto;
    min-width: 60px;
}

.reactable-filter-input {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 6px 12px;
}

.glyphicon.not-disabled {
    cursor: pointer;
}

.glyphicon.disabled {
    cursor: default;
    color: #d3d3d3;
}

.filter-form {
    width: 100%;
}

.filter-form .DateRangePicker {
    display: block;
}

label {
    font-weight: 100;
}

.form-group {
    margin-bottom: 0px;
}

.glyphicon-chevron-down, .glyphicon-chevron-right {
    font-size: 12px;
    padding-right: 3px;
}

.sumRow {
    background-color: #eee;
}

.tag {
    padding: 5px;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 12px;
}

.tag:first-of-type {
    margin-left: 0px;
}

.tag-provider {
    background: #006eab;
}

.tag-ssh {
    background: #009688;
}

.tag-unmanaged {
    background: #8c8c8c;
}

.tag-winexe {
    background: #376273;
}

.tag-app {
    background: #1597df;
}

.new-log {
    background: rgba(255, 252, 69, 0.53);
}

.scrollable {
    max-height: 350px;
    overflow-y: scroll;
}

.navbar-nav>li>a {
    background: #006eab !important;
}

.navbar-nav>li>a:hover {
    background: #007ebb !important;
}

.badge {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.dropdown-header {
    font-weight: bold;
    color: #006eab;
}

/*.badge {
    background-color: #007ebb;
}*/

.footer {
    margin-top: 10px;
    width: 100%;
    height: 47px !important;
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
}

#nav-dropdown{
    padding: 15px 17px;
}

.notification::after {
	content: '';
	position: absolute;
	top: -3px;
	right: -3px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 2px solid #fff;
	background-color: #f96868;
}

#notification-popup::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 93%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}

.new-notification {
	background-color: #f3f9ff;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	color: #4d5259;
}
