venv/
*.pyc
.*.swp
.*.swo
/id_rsa
/id_rsa.pub
node_modules/
npm-debug.log
*.egg-info/
pip-log.txt
ami_images
aws_images
vapp_config.json
openstack_env_vars.sh
dist/
build/
.vscode
va_master/api/custom_modules/*
va_master/api/custom_modules/__init__.py
va_master/host_drivers/aek_driver.py
va_dashboard/static/logo-splash.png
va_dashboard/static/logo.png
va_dashboard/static/bundle.js
ssl/*
